* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E276A; /* Updated background color */
    color: #fff; /* Updated text color for better readability on dark background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #1E276A; /* Updated background color */
    color: #fff;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}


h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
}

img
{
    width: 40%;
    max-width: 100px;
}
main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-section, .links-section {
    width: 100%;
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
}

.buttons-section {
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    margin-bottom: 40px; /* Separation between sections */
}

.links-section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
}

.button-card, .link-card {
    border-radius: 5px;
    height: fit-content; 
    max-height: 200px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.button-card:hover, .link-card:hover {
    transform: translateY(-5px);
}

h2 {
    font-size: 1.2em; /* Decreased font size */
    color: #ffffff;
    margin-top: 10px;
}

/* Different pastel colors for each card */
.button-card:nth-child(1) {
    background-color: #f05b6a; /* Light pink */
}

.button-card:nth-child(2) {
    background-color: #6763dc; /* Light orange */
}

.button-card:nth-child(3) {
    background-color: #41a757; /* Light yellow */
}

.link-card:nth-child(1) {
    background-color: #52B5E5; /* Light green */
}

.link-card:nth-child(2) {
    background-color: #6cf98a; /* Light blue */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .buttons-section, .links-section {
        grid-template-columns: 1fr 1fr; /* Two columns on tablet */
    }
}

@media (max-width: 480px) {
    .buttons-section, .links-section {
        grid-template-columns: 1fr; /* One column on phone */
    }

    .buttons-section {
        grid-template-columns: repeat(3, 1fr); /* Three columns on phone for managing website buttons */
    }
}
